body {
    margin: 0px;
    background-color: rgb(57, 55, 64);
    color: white;
    font-family: Helvetica;
}

/*#########################Texte#########################*/
.Ü1 {

    font-size: 35pt;
    display: inline-table;
}

.Ü2 {

    font-size: 18pt;
    margin-bottom: 5%;
}

.Text1 {

    font-size: 15pt;
}

/*#########################Weiteres#########################*/
.Sidebar {
    position: fixed;
    height: 100%;
    background-color: rgb(41, 35, 34);
    padding-top: 1%;
    width: 300px; 
  }
  


.User-Datenbank {
    padding-left: 320px;
    padding-top: 1%;
}

.UserBox {

    display: inline-table;
    background-color: rgb(41, 35, 34);
    border-color: white;
    padding: 6%;
    border-radius: 7px;
    margin-right: 65px;
    margin-top: 10px;
    width: 300px;
    min-height: 78px;
}

.UserBoxPlacement {

    display: inline-table;
}

.Button1 {

    font-size: 22pt;
    background-color: transparent;
    border: none;
    color: white;
    background-color: rgb(57, 55, 64);
    padding: 4%;
    border-radius: 2px;
    display: inline-table;
    margin-left: 5%;
    margin-bottom: 3%;
}

.Button1:hover {

    color:rgb(186, 183, 182);
    cursor: pointer;
}

.Details {

    color: white;
    margin-left: 8%;
    font-size: 18pt;
}

.Details-Summary {
    line-height: 140%;
}


.Details-Summary:hover {

    color:rgb(186, 183, 182);
    cursor: pointer;
}

.Checkbox {

    height: 18px;
    width: 18px;
    accent-color: #393740;
}

@media (max-width: 500px) {

    .UserBox {
        margin-bottom: 10px;
    }
  }



@media (max-width: 1000px) {
    .Sidebar {
        width: 180px; 
    }
    .Button1 {
        font-size: 12pt;
    }
    .Checkbox {
        height: 10px;
        width: 10px;
    }
    .Details {
        font-size: 11pt;
    }
    .Ü1 {
        font-size: 15pt;  
    }
    .Ü2 {
        font-size: 9pt;  
    }
    .User-Datenbank {
        padding-left: 190px;
    }
    .Text1 {
        font-size: 9pt;
    }
    .UserBox {
        width: 180px;
        margin-bottom: 10px;
        margin-right: 30px
    }
}
